################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Gra - projekt na zaliczenie przedmiotu/v16/Browse.VC.db
/.vs
